<% content_for :community_label, "Edit Submission" %>

<% content_for :primary_content do %>

 <div class="lg:p-10 pt-10 pb-10 px-4">
    <h1 class="text-xl font-normal mb-6">Editing submission 
        <span class="italic">
          <%= @submission.title %>
        </span>
    </h1>

  <%= render 'form', submission: @submission %>

  <%= link_to 'Show', @submission %> |
  <%= link_to 'Back', submissions_path %>
</div>
<% end %>

<% content_for :secondary_content do %>
  <%= link_to 'New Submission', new_submission_path %>
<% end %>

<%= render "basic_layout" %>